In [92]:
n_threads=4
for i in range(1,n_threads+1):
    print(i)

1
2
3

In [89]:
data

     1  0.008072
0    2  0.007639
1    3  0.009000
2    4  0.008661
3    5  0.009225
4    6  0.009482
5    7  0.008598
6    8  0.117803
7    9  0.008453
8   10  0.007459
9   11  0.010723
10  12  0.007404
11  13  0.009929
12  14  0.006551
13  15  0.027826
14  16  0.009346
15  17  0.011128
16  18  0.008977
17  19  0.007942
18  20  0.010312

In [72]:
np.median(data["0.008445"]) con 1

0.008354

In [75]:
np.median(data["0.004008"]) con 2

0.004856

In [79]:
np.median(data["0.003872"])

0.003087

In [83]:
np.median(data["0.003326"])

0.003415

In [90]:
np.median(data["0.008072"])

0.009